{% extends 'core/base.html' %}
{% load static %}

{% block body %}
<section class="about-banner">
    <div class="about-banner-container">
        <h1>About Us</h1>
        <p>Know more about us, We are more than a hospital</p>
    </div>
</section>
<!-- 
<section class="about-image-section">
    <div class="about-image-container">
        <img src="{% static 'images/about_banner.jpg' %}" alt="">
    </div>
</section> -->

<section class="about-content">
    <div class="about-section-container">
        <h1>Who we are?</h1>
        <p>Labcore Diagnosis offers a platform, which can be accessed for all your health needs.
            Trying to make healthcare hassle-free for you is our goal.
            We deliver allopathic, ayurvedic, homeopathic medicines, vitamins, nutritional supplements, and other health products to your home.
            You can do that from the comfort of your own home.
            We've got you covered for that as well.
            We provide accurate, authoritative & trustworthy information on medicines and help people use their medicines effectively and safely. We also provide diagnostic services from certified labs and online doctor consults anywhere at any time.
            Our goal is to provide accurate, authoritative and trustworthy information about medicines and to help people take them effectively and safely. We provide diagnostic services from certified labs and online doctor consultations at any time, anywhere.
            </p>
        <h1>What we do?</h1>
        <p>Labcore Diagnosis, a state-of-the-art super-specialty hospital, is a premium model of healthcare extending medical services at par with excellence. Equipped with modern facilities, innovative technological equipment, and a driven spirit to promote community well-being, the hospital is a preferred destination for healthcare nationally.
            The Labcore diagnosis offers a broad spectrum of medical services from tertiary care in supers-specialties, general specialties, advanced diagnostics & radiology services to critical care. The hospital's highly qualified and experienced medical professionals offer best-in-class expert care to the patients round-the-clock.
            The Lbacore Diagnosis aspires to reach the new benchmark of success through its dedicated ambition of providing quality healthcare and serving the community. The Group believes in compassionate life values and continuously serves humanity.
            The hospital endeavors to nurture a strong and healthy community that is physically and mentally beaming through innovation, research activities, extensive training, and continuous up-gradation of medical and healthcare facilities and practices. It is committed to upgrading the level and standard of medical facilities to all sections of society.
            Labcore Diagnosis believes a great culture is an important ingredient for a startup’s success. Our culture encourages radical candor, collaboration, and a flat hierarchy. Below are our core values that encapsulate our culture.</p>
    </div>
</section>
{% endblock %}
    