{% extends 'core/base.html' %}
{% block title %}Contact Us - LcDiagnosis - Online Book Lab Test at Home{% endblock  %}
{% block meta %}<meta name="description" content="LcDiagnosis is the online Lab test Contact Us.">
<meta property="og:title" content="LcDiagnosis - Book Lab Tests at Home"/>
{% endblock %}
{% block body %}
<section class="contact-2">
    <div class="contactUS-2">
        <div class="contact-title">Appointment</div>

        <div class="contact-box-2">
            <div class="contact-box-inside form">
                <h3>Send a Message</h3>
                <div class="formBox">
                    <form action="">
                        <div class="row50">
                            <div class="inputBox">
                                <span>First Name</span>
                                <input type="text" placeholder="John">
                            </div>
                            <div class="inputBox">
                                <span>Last Name</span>
                                <input type="text" placeholder="Doe">
                            </div>
                        </div>

                        <div class="row50">
                            <div class="inputBox">
                                <span>Email</span>
                                <input type="email" placeholder="john@gmail.com">
                            </div>
                            <div class="inputBox">
                                <span>Mobile</span>
                                <input type="text" placeholder="+91 987 6543210">
                            </div>
                        </div>

                        <div class="row100">
                            <div class="inputBox">
                                <span>Attachment (Your Report)</span>
                                <input type="file" placeholder="Attach your Report Here.">
                            </div>
                        </div>

                        <div class="row100">
                            <div class="inputBox">
                                <span>Message</span>
                                <textarea placeholder="write your message"></textarea>
                            </div>
                        </div>

                        <div class="row100">
                            <div class="inputBox">
                                <input type="submit" value="Send">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            {% comment %} <div class="contact-box-inside info">
                <h3>Contact Info</h3>
                <div class="infoBox">
                    <div class="">
                        <span><ion-icon name="location"></ion-icon></span>
                        <p>Cannaught Palace, New Delhi <br> INDIA</p>
                    </div>
                    <div class="">
                        <span><ion-icon name="mail"></ion-icon></span>
                        <a href="mailto:lorem@gmail.com">lcdiagnosis@gmail.com</a>
                    </div>
                    <div class="">
                        <span><ion-icon name="call"></ion-icon></span>
                        <a href="tel:+919873209819">+91 98732 09819</a>
                    </div>
                    <ul class="sci">
                        <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li>
                        <li><a href="#"><ion-icon name="logo-twitter"></ion-icon></a></li>
                        <li><a href="#"><ion-icon name="logo-linkedin"></ion-icon></a></li>
                        <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
                    </ul>
                </div>
            </div>
            <div class="contact-box-inside map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14008.114827184274!2d77.20653217895914!3d28.628901718705546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd37b741d057%3A0xcdee88e47393c3f1!2sConnaught%20Place%2C%20New%20Delhi%2C%20Delhi%20110001!5e0!3m2!1sen!2sin!4v1638212964851!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div> {% endcomment %}
        </div>
    </div>
</section>
    
{% endblock %}
    