{% extends 'core/base.html' %}
{% load static %}
{% block title %}Services - LcDiagnosis - Online Book Lab Test at Home{% endblock  %}
{% block meta %}<meta name="description" content="LcDiagnosis is the online Lab test Services.">
<meta property="og:title" content="LcDiagnosis - Book Lab Tests at Home"/>
{% endblock %}
{% block body %}
<section class="service-banner">
    <div class="service-banner-container">
        <h1>Our Services</h1>
        <p>Know more about us, We are more than a Lab.</p>
    </div>
</section>
<section class="service-right-section">
    <div class="service-right-container">
        <div class="service-right-content">
            <h1>Blood Test</h1>
            <p>Our hospital clients have access to the most up-to-date information for their diagnostic testing needs. Laboratory testing involves taking a blood sample. A technician or your doctor analyses the samples to determine whether your results are within the normal range.
            </p>
            <a href="" class="btn">Learn More</a>
        </div>
    </div>
</section>
<section class="service-right-section-1">
    <div class="service-right-container">
        <div class="service-right-content">
            <h1>Covid-RTPCR</h1>
            <p>An infection with SARS-CoV-2, or COVID-19, is detected using the COVID-19 test, which uses a technique called real-time reverse transcription-polymerase chain reaction (RT-PCR).
                Detects the genetic material of the virus extracted from a sample (usually a nasal swab or throat swab). The most accurate and reliable way to diagnose COVID-19 infection.</p>
            <a href="" class="btn">Learn More</a>
        </div>
    </div>
</section>

<section class="service-right-section">
    <div class="service-right-container">
        <div class="service-right-content">
            <h1>CBC</h1>
            <p>It provides information about blood cells such as Red Blood Cells (RBC), White Blood Cells (WBC) and platelets. A complete blood count is routinely performed to assess a patient's general health status.
                This test measures red blood cells, white blood cells, and platelets.</p>
            <a href="" class="btn">Learn More</a>
        </div>
    </div>
</section>

<section class="service-right-section-1">
    <div class="service-right-container">
        <div class="service-right-content">
            <h1>CRP</h1>
            <p>The C-reactive protein (CRP) Test detects the presence of CRP in blood. CRP is a nonspecific marker of inflammation that can be triggered by infections, injuries, heart conditions, and autoimmune diseases. 
                In addition to CRP, other tests are usually conducted to diagnose a particular condition and to determine the location of the infection and inflammation. They also help monitor the progress of treatment.</p>
            <a href="" class="btn">Learn More</a>
        </div>
    </div>
</section>

<section class="service-right-section">
    <div class="service-right-container">
        <div class="service-right-content">
            <h1>T3, T4, TSH</h1>
            <p> A Thyroid Profile Total consists of a number of tests done together to detect or diagnose thyroid diseases. This test measures the levels of three hormones in the blood: Thyroid Stimulating Hormone (TSH), Thyroxine (T4) - Total, and Triiodothyronine (T3) - Total.</p>
            <a href="" class="btn">Learn More</a>
        </div>
    </div>
</section>

<section class="service-right-section-1">
    <div class="service-right-container">
        <div class="service-right-content">
            <h1>HBA1c</h1>
            <p>A glycosylated hemoglobin test (HbA1c) measures how much sugar you have been consuming over the last 2-3 months. As part of health checkups, it is used to detect prediabetes, diagnose diabetes, and monitor the effectiveness of treatment. The sugar between the range  if < 5.7%, while values ≥ 6.5%  consider normal.</p>
            <a href="" class="btn">Learn More</a>
        </div>
    </div>
</section>

<section class="service-right-section">
    <div class="service-right-container">
        <div class="service-right-content">
            <h1>LIVER FUNCTION TEST</h1>
            <p>This test measures the level of enzymes and proteins produced by the liver, such as bilirubin, albumin, lactate dehydrogenase, etc. Liver function tests (LFTs) are commonly used to assess the liver's function.
                LFT is advised in case of symptoms suggestive of liver problems such as dark urine, diarrhea, light stool, and jaundice. This test helps in diagnosing liver related conditions including liver cirrhosis, hepatitis, and liver damage for liver disorders</p>
            <a href="" class="btn">Learn More</a>
        </div>
    </div>
</section>
{% endblock %}