{% extends 'core/base.html' %}
{% load static %}
{% block title %}Services - LcDiagnosis - Online Book Lab Test at Home{% endblock  %}
{% block meta %}<meta name="description" content="LcDiagnosis is the online Lab test Services.">
<meta property="og:title" content="LcDiagnosis - Book Lab Tests at Home"/>
{% endblock %}
{% block body %}
<section class="service-banner">
    <div class="service-banner-container">
        <h1>Our Services</h1>
        <p>Know more about us, We are more than a Lab.</p>
    </div>
</section>
<section class="service-right-section">
    <div class="service-right-container">
        <div class="service-right-content">
            <h1>Blood Test</h1>
            <p>Our hospital clients have access to the most up-to-date information for their diagnostic testing needs. Laboratory testing involves taking a blood sample. A technician or your doctor analyses the samples to determine whether your results are within the normal range.
            </p>
            <a href="" class="btn">Learn More</a>
        </div>
    </div>
</section>
<section class="service-right-section-1">
    <div class="service-right-container">
        <div class="service-right-content">
            <h1>Covid-RTPCR</h1>
            <p>An infection with SARS-CoV-2, or COVID-19, is detected using the COVID-19 test, which uses a technique called real-time reverse transcription-polymerase chain reaction (RT-PCR).
                Detects the genetic material of the virus extracted from a sample (usually a nasal swab or throat swab). The most accurate and reliable way to diagnose COVID-19 infection.</p>
            <a href="" class="btn">Learn More</a>
        </div>
    </div>
</section>

<section class="service-right-section">
    <div class="service-right-container">
        <div class="service-right-content">
            <h1>Health Package 1</h1>
            <a href="" class="btn">Add To Cart</a>
        </div>
    </div>
</section>

<section class="service-right-section-1">
    <div class="service-right-container">
        <div class="service-right-content">
            <h1>Health Package 2</h1>
            <a href="" class="btn">Add To Cart</a>
        </div>
    </div>
</section>

<section class="service-right-section">
    <div class="service-right-container">
        <div class="service-right-content">
            <h1>Health Package 3</h1>
            <a href="" class="btn">Add To Cart</a>
        </div>
    </div>
</section>

<section class="service-right-section-1">
    <div class="service-right-container">
        <div class="service-right-content">
            <h1>Health Package 4</h1>
            <a href="" class="btn">Add To Cart</a>
        </div>
    </div>
</section>

<section class="service-right-section">
    <div class="service-right-container">
        <div class="service-right-content">
            <h1>Health Package 5</h1>
            <a href="" class="btn">Add To Cart</a>
        </div>
    </div>
</section>
{% endblock %}