{% extends 'dashboard/base.html' %}
{% block title %}Profile - LcDiagnosis - Online Book Lab Test at Home{% endblock  %}
{% block meta %}<meta name="description" content="LcDiagnosis is the online Lab test Profile.">
<meta property="og:title" content="LcDiagnosis - Book Lab Tests at Home"/>
{% endblock %}
{% block content %}
<div class="col-lg-12">
    <div class="white_card card_height_100 mb_30">
        <div class="white_card_body">
            <div class="card-body">
                <div>
                    <h1> Profile Details </h1>
                </div>
                <hr>
                {% for po in profile %}
              

                <div class="white_card_body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                               
                            </thead>
                            <tbody>
                                <tr>
                                    <td><h3>Name:</h3></td>
                                    <td><h3>{{po.first_name}} {{po.last_name}}</h3></td>
                                </tr>
                                <tr>
                                    <td><h3>Phone Number:</h3></td>
                                    <td><h3>{{po.phone_no}}</h3></td>
                                </tr>
                                <tr>
                                    <td><h3>Address:</h3></td>
                                    <td><h3>{{po.address}}</h3></td>
                                </tr>
                                <tr>
                                    <td><h3>Age:</h3></td>
                                    <td><h3>{{po.age}}</h3></td>
                                </tr>
                                <tr>
                                    <td><h3>Physically Disabled:</h3></td>
                                    <td><h3>{{po.physically_disabled}}</h3></td>
                                </tr>
                                <tr>
                                    <td><h3>Gender:</h3></td>
                                    <td><h3>{{po.gender}}</h3></td>
                                </tr>
                                
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                
                {% endfor %}
            </div>
            <a href="{% url 'editprofile' %}" class="btn btn-primary">Edit Profile</a>
        </div>
    </div>
</div>
{% endblock %}