{% extends 'dashboard/base.html' %}
{% block content %}
<div class="col-lg-12">
    <div class="white_card card_height_100 mb_30">
        <div class="white_card_body">
            <div class="card-body">
                <div>
                    <h1> Profile Details </h1>
                </div>
                <hr>
                {% for po in profile %}
                {% comment %} <h3>Name: <span>{{po.first_name}} {{po.last_name}}</span></h3>
                <h3>Phone Number: <span>{{po.phone_no}}</span></h3>
                <h3>Address: <span>{{po.address}}</span></h3>
                <h3>Age: <span>{{po.age}}</span></h3>
                <h3>Physically Disabled: <span>{{po.physically_disabled}}</span></h3>
                <h3>Gender: <span>{{po.gender}}</span></h3>
                <h3>Blood Group: <span>{{po.blood_group}}</span></h3> {% endcomment %}

                <div class="white_card_body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                {% comment %} <tr>
                                    <th scope="col" class="text-center"> <h1> Profile Details </h1></th>
                                </tr> {% endcomment %}
                            </thead>
                            <tbody>
                                <tr>
                                    <td><h3>Name:</h3></td>
                                    <td><h3>{{po.first_name}} {{po.last_name}}</h3></td>
                                </tr>
                                <tr>
                                    <td><h3>Phone Number:</h3></td>
                                    <td><h3>{{po.phone_no}}</h3></td>
                                </tr>
                                <tr>
                                    <td><h3>Address:</h3></td>
                                    <td><h3>{{po.address}}</h3></td>
                                </tr>
                                <tr>
                                    <td><h3>Age:</h3></td>
                                    <td><h3>{{po.age}}</h3></td>
                                </tr>
                                <tr>
                                    <td><h3>Physically Disabled:</h3></td>
                                    <td><h3>{{po.physically_disabled}}</h3></td>
                                </tr>
                                <tr>
                                    <td><h3>Gender:</h3></td>
                                    <td><h3>{{po.gender}}</h3></td>
                                </tr>
                                <tr>
                                    <td><h3>Blood Group:</h3></td>
                                    <td><h3>{{po.blood_group}}</h3></td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                
                {% endfor %}
            </div>
            <a href="{% url 'editprofile' %}" class="btn btn-primary">Edit Profile</a>
        </div>
    </div>
</div>
{% endblock %}